In [1]:
import pandas as pd
iris = pd.read_csv("iris.csv")

In [2]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
iris.index.name = "idx"

In [9]:
iris.head()

     sepal.length  sepal.width  petal.length  petal.width variety
idx
0             5.1          3.5           1.4          0.2  Setosa
1             4.9          3.0           1.4          0.2  Setosa
2             4.7          3.2           1.3          0.2  Setosa
3             4.6          3.1           1.5          0.2  Setosa
4             5.0          3.6           1.4          0.2  Setosa

In [10]:
iris.index

RangeIndex(start=0, stop=150, step=1, name='idx')

In [11]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [12]:
iris.index

RangeIndex(start=0, stop=150, step=1, name='idx')

In [29]:
iris.loc[[2,3], ["sepal.length", "sepal.width"]]

     sepal.length  sepal.width
idx
2             4.7          3.2
3             4.6          3.1

In [32]:
iris.iloc[:,1]

idx
0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal.width, Length: 150, dtype: float64

In [45]:
iris.iloc[:, 0:3]

     sepal.length  sepal.width  petal.length
idx
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [44]:
iris.iloc[[0,3,6], [0,1,2]]

     sepal.length  sepal.width  petal.length
idx
0             5.1          3.5           1.4
3             4.6          3.1           1.5
6             4.6          3.4           1.4

In [41]:
iris[iris["sepal.length"] > 3]

     sepal.length  sepal.width  petal.length  petal.width    variety
idx
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [47]:
iris["sepal.length"][iris.index]

idx
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64